* {
  margin: 0;
  padding: 0;
}

.container {
  position: absolute;
  display: flex;
  margin-top: 40px;
  margin-left: 47.5%;
}

.container2 {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100;
  margin-top: 16px;
  margin-left: 48.5%;
  font-size: 20px;
}

.label-float {
  position: absolute;
  margin-left: 2%;
  margin-top: 70px;
  padding: 10px;
  font-size: 25px;
  transition: all 0.3 ease-out;
  border-radius: 0;
}

.label-float {
  position: relative;
  padding-top: 10px;
  margin-bottom: 10px;
}

.estilo {
  display: flex;
  justify-content: center;
  margin-right: 720px;
  margin-top: 40px;
  cursor: pointer;
}

input {
  position: flex;
  display: block;
  border: 0;
  background-color: transparent;
  border-bottom: 3px solid #000000;
  outline: none;
  min-width: 150px;
  font-size: 16px;
}

.mercado {
  position: flex;
  text-align: center;
  margin-top: 5%;
  margin-left: 4%;
}

.label-float input:focus {
  border-bottom: 2px solid #000000;
}

.label-float label {
  pointer-events: none;
  position: absolute;
  top: -10px;
  left: -10px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}

.label-float input:focus + label {
  font-size: 12px;
  margin-top: 0;
  color: #000000;
}

.acessar-area {
  position: relative;
  display: flex;
  width: 110px;
  height: 55px;
  border-radius: 17px;
  background: #b1afaf;
  box-shadow: 10px 1px 5px 0px rgba(0, 0, 0, 0.25) inset;
  flex-shrink: 0;
  margin-left: 50%;
  cursor: pointer;
}

.borda {
  position:relative;
  content: 0;
  display: flex;
  position: flex;
  width: 1920px;
  height: 70px;
  margin-top: -94.9px;
  flex-shrink: 0;
  background: #222;
  box-shadow: 10px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  font-weight: 900;
}

a {
  position:flex;
  margin-left: 1%;
  font-size: 20px;
  font-weight: 900;
  color: #000000;
}

.seta {
  height: 10px;
  margin-right: 95%;
  margin-top: 40px;
  cursor: pointer;
  transform: scale(0.95);
  transition: transform 3s ease-out;
}

.usuarios {
  position: absolute;
  display: table;
}

.adicionar {
  position: relative;
  top: -170px;
  display: block;
  text-align: center;
  margin-top: 15px;
  margin-left: 59%;
  font-size: 20px;
  color: white;
  width: 130px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #999898;
}

.cadastro-inicial {
  justify-content: center;
  position: relative;
  display: block;
  margin-left: 46%;
  margin-top: -6px;
}

.login {
  justify-content: center;
  position: relative;
  display: block;
  margin-left: 46%;
  margin-top: 10px;
}

.segunda-borda {
  position: absolute;
  box-sizing: border-box;
  border: 2px solid #000;
  padding: 10px;
  width: 270px;
  height: 866px;
  flex-shrink: 0;
  background: #4e4e4e;
}

.t1 {
  width: 279px;
  height: 10px;
  background: #fefcfc;
  border-radius: 20px;
  display: block;
  margin: 40%;
  margin-left: -16px;
}

.img2 {
  display: inline-block;
  margin: 60px;
  margin-left: 100px;
  font-size: 20px;
  text-align: center;
  font-weight: 900;
  color: #fff;
}

.t2 {
  display: block;
  width: 285px;
  height: 10px;
  background: #fefcfc;
  border-radius: 20px;
  position: absolute;
  margin: 13%;
  margin-left: -10px;
}

.img {
  text-align: center;
  margin-top: -79%;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.traço {
  display: block;
  width: 1920px;
  height: 5px;
  background: #000;
  margin-top: 50px;
}

.produtos {
  position: absolute;
  display: block;
  margin-left: 400px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 900;
}

.estoques {
  position: absolute;
  display: block;
  margin-left: 600px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 900;
}

.preços {
  position: absolute;
  display: block;
  margin-left: 800px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 900;
}

.traço2 {
  display: block;
  width: 1920px;
  height: 5px;
  background: #000;
  margin-top: 60px;
}

.registro-cadastro {
  position: relative;
  margin-right: 80%;
}

.acessar-tela-inicial {
  position: absolute;
  margin-left: 51%;
  margin-top: -40px;
  font-weight: 900;
  font-size: 20px;
}

.usuario-email {
  margin-top: 15px;
  font-size: 17px;
  margin-left: 10px;
  color: white;
}

.market {
  position: absolute;
  display: flex;
  margin-top: -30px;
  margin-left: 47.5%;
}

.produto {
  position: absolute;
  display: flex;
  margin-top: 30px;
  margin-left: 49.5%;
  font-size: 20px;
}

.pesquisa {
  margin-left: 700px;
  margin-top: 10px;
}

.add {
  position: absolute;
  margin-left: 60%;
  margin-top: -225px;
}

.borda-produto {
  display: block;
  position: relative;
  width: 1920px;
  height: 85px;
  flex-shrink: 0;
  background: #1d1d1d;
}

.imagem-usuario {
  display: table;
  position: absolute;
  margin-top: -75px;
}

.user {
  position: absolute;
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-left: 70px;
  margin-top: -65px;
}

.colunas {
  box-sizing: border-box;
  border: 2px solid #000;
  width: 280px;
  height: 877px;
  flex-shrink: 0;
  background: #4e4e4e;
}

.imagens-produto {
  margin-left: 110px;
  margin-top: 80px;
}

.linhas {
  width: 351.001px;
  height: 8px;
  background: #fefcfc;
  margin-top: 10px;
  padding-top: 2px;
}

.linha {
  width: 351.001px;
  height: 8px;
  background: #fefcfc;
  margin-top: -580px;
  padding-top: 2px;
}

.Rendimento {
  margin-top: -260px;
  margin-left: -138.5%;
}

.produto-link {
  margin-left: -137.1%;
  margin-top: 140px;
}

.Easy-market {
  position: absolute;
  display: block;
  margin-left: 50%;
  margin-top: -150px;
}

.Titulo {
  position: absolute;
  display: flex;
  margin-left: 48.8%;
  margin-top: -195px;
}

.icone {
  margin-left:1000px;
}
